<div class="sport"></div>
<div class="event"></div>
<div class="outcome"></div>

<a href="#sports" class="showsports">Sports<a>

<script id="sportTemplate" type="text/template">
  <ul>
    <li><%%= title || error_message%>
    <a id="<%%= title %>" href="#sports/<%%= id %>/events" class="events">Live events</a>
    </li>
  </ul>
</script>


<script id="eventTemplate" type="text/template">
  <ul>
    <li>
      <%% if(title) { %>
        <p class="title">Title: <%%= title %> </p>
        <p class="isvirtual">Is virtual? <%%= is_virtual %></p>
        <p><a id="<%%= title %>" href="#sports/<%%= sport_id %>/events/<%%= event_id %>/outcomes" class="outcomes">Live outcomes</a></p>
      <%% }else { %>
        <%%= error_message %>
      <%% } %>
    </li>
  </ul>
</script>

<script id="outcomeTemplate" type="text/template">
  <ul>
    <li>
      Description: <%%= description %><br>
      Price decimal <%%= price_decimal %><br>
      Price <%%= price %><br>
    </li>
  </ul>
</script>


